.header{
    background-color: rgb(233, 243, 248);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 5px rgb(182, 188, 189);
    
}
.employee{
    background-color: rgb(245, 246, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 17px 5px rgb(17, 17, 17);
}
.control input{
    width: 500px;
    height: 30px;
    border: none;
    background-color: white;
    box-shadow: 15px 5px 10px 1px rgb(182, 188, 189);

    
}
.control{
    padding-bottom: 15px;
    text-align: left;
}
.employee button{
    background-color: rgb(14, 119, 119);
    color: white;
    padding: 10px;
}
.employee button:hover{
    background-color: white;
    color: black;
    border: 1px solid  rgb(14, 119, 119);
}
.text{
    color: white;
    background-color: black;
    padding: 3%;
    font-size: 2.5rem;
}