.display{
    margin:0%;
    padding: 30px;
    
   
   
}
.header{
    background-color: rgb(224, 224, 224);
    font-size: 2rem;
}
.table{
    width:600px;
    border-collapse: collapse;
}
.table td, .table tr{
    border: 1px solid grey;
}