.employee{
    margin:0%;
    padding: 0;
   
}
.header{
    background-color: rgb(224, 224, 224);
    font-size: 2rem;
}
.employeeForm p{
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.employeeForm input{
    width: 500px;
    height: 30px;
}
.employeeForm button{
    padding:10px;
}