.table{
    /* border-collapse: collapse; */
    width: 500px;
}
thead{
    background-color: rgb(182, 189, 189);
    padding: 10px;
}
tbody{
    background-color: rgb(243, 243, 243);
}
.button{
    padding: 5px;
}
button{
    border: none;
    padding: 5px;
}
.update{
    background-color: rgb(210, 248, 153);
}
.delete{
    background-color: rgb(250, 121, 121);
}
.delete:hover{
    border: 1px solid red
}
.update:hover{
    border: 1px solid rgb(118, 206, 3)
}
.display{
    background-color: rgb(245, 246, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 17px 5px rgb(17, 17, 17);
}
